<h1>Articles#index</h1>
<h3 style="text-align:center;"> Articles </h3>

	<% @articles.each do |article| %>
	<% if article.persisted? %>
	<p>
  <strong>Description:</strong>
  <%= article.description %>
</p>
 <p>
  <strong>Image:</strong>
  <%= image_tag article.image_url.to_s   %>
</p>
<%=link_to 'show',article_url(id:article.id)%></br>
<%end%><%end%>

